{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset( 'css/resp_table/style_table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ asset( 'css/resp_table/basictable.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ asset( 'css/tarifs.css')}}">
	<link href="{{asset('/css/datatables/pagination_style.css')}}" rel="stylesheet">
{% endblock %}

{% block title %}Réception technique
{% endblock %}

{% block content %}
	{% include 'layouts/couverture.html.twig' %}

	<div style="margin-left : 50px; margin-right:50px">
		<div class="section-title" data-margin="0 0 40px">
			<h2 class="text-center">
				Tarif réception technique Isolé (en Ariary)</h2>
		</div>
		<div class="overflow-auto tarif_visite">
			<table id="reception" class="two-axis table_tarif">
				<thead>
					<tr>
						<th class="text-center">categ</th>
						<th class="text-center">droit</th>
						<th class="text-center">pv</th>
						<th class="text-center">
							tva
						</th>
						<th class="text-center">net à payer</th>
					</tr>
				</thead>
				<tbody>
					<tr>

						<td colspan="5" class="text-center bg-dark">
							<span class="text-white">
								A- RECEPTION EN VUE IMMATRICULATION A MADAGASCAR
							</span>
						</td>
					</tr>

					<tr>
						<td colspan="5">
							1°/ Véhicule à moteur (Isolé)</td>

					</tr>
					<tr>
						<td>
							PTAC < 3,5 T</td>
						<td>
							45 000</td>
						<td>
							4 000</td>
						<td>9 800</td>
						<td>58 800</td>
					</tr>
					<tr>
						<td>
							3,5 T ≤ PTAC < 7 T</td>
						<td>
							90 000</td>
						<td>
							4 000</td>
						<td>18 800</td>
						<td>112 800</td>
					</tr>
					<tr>
						<td>
							7 T ≤ PTAC < 10 T</td>
						<td>
							135 000</td>
						<td>
							4 000</td>
						<td>27 800</td>
						<td>166 800</td>
					</tr>
					<tr>
						<td>
							10 T ≤ PTAC < 19 T</td>
						<td>
							225 000</td>
						<td>
							4 000</td>
						<td>45 800</td>
						<td>274 800</td>
					</tr>
					<tr>
						<td>
							19 T ≤ PTAC < 26 T</td>
						<td>
							270 000</td>
						<td>
							4 000</td>
						<td>54 800</td>
						<td>328 800</td>
					</tr>

					<tr>
						<td colspan="5">
							2°/ Remorque et Semi-remorque</td>

					</tr>
					<tr>
						<td>
							0,750 T< PTAC < 3,5 T</td>
						<td>
							40 500</td>
						<td>
							4 000</td>
						<td>8 900</td>
						<td>53 400</td>
					</tr>
					<tr>
						<td>
							3,5 T ≤ PTAC < 7 T</td>
						<td>
							81 000</td>
						<td>
							4 000</td>
						<td>17 000</td>
						<td>102 000</td>
					</tr>
					<tr>
						<td>
							7 T ≤ PTAC < 10 T</td>
						<td>
							121 000</td>
						<td>
							4 000</td>
						<td>25 000</td>
						<td>150 000</td>
					</tr>
					<tr>
						<td>
							10 T ≤ PTAC <19 T</td>
						<td>
							202 500</td>
						<td>
							4 000</td>
						<td>41 300</td>
						<td>247 800</td>
					</tr>
					<tr>
						<td>
							19 T ≤ PTAC < 26 T</td>
						<td>
							243 000</td>
						<td>
							4 000</td>
						<td>49 400</td>
						<td>296 400</td>
					</tr>

					<tr>
						<td>
							3°/ Motocyclettes, vélomoteurs, cyclomoteurs (*), tricycles quadricycles</td>
						<td>
							20 000</td>
						<td>
							4 000</td>
						<td>4 800</td>
						<td>28 800</td>
					</tr>

					<tr>
						<td>
							4°/ Véhicules et appareils agricoles ou forestiers, matériels de TP et engins spéciaux</td>
						<td>
							75 000</td>
						<td>
							4 000</td>
						<td>15 800</td>
						<td>94 800</td>
					</tr>

					<tr>
						<td colspan="5" class="text-center bg-dark">
							<span class="text-white">
								B- VEHICULES DÉJÀ IMMATRICULES A MADAGASCAR
							</span>
						</td>

					</tr>
					<tr>
						<td>
							Remplacement de cadre ou de coque</td>
						<td>
							45 000</td>
						<td>
							4 000</td>
						<td>9 800</td>
						<td>58 800</td>
					</tr>
					<tr>
						<td>
							Transformation de châssis (sur autorisation du constructeur)</td>
						<td>
							45 000</td>
						<td>
							4 000</td>
						<td>9 800</td>
						<td>58 800</td>
					</tr>
					<tr>
						<td>
							Changement de moteur</td>
						<td>
							45 000</td>
						<td>
							4 000</td>
						<td>9 800</td>
						<td>58 800</td>
					</tr>
					<tr>
						<td>
							Changement de nombre de places PTAC < 3,5 T (Sans transformation de genre ou de carrosserie)</td>
						<td>
							60 000</td>
						<td>
							4 000</td>
						<td>12 800</td>
						<td>76 800</td>
					</tr>
					<tr>
						<td>
							Changement de nombre de places PTAC ≥ 3,5 T (Sans transformation de genre ou de carrosserie)</td>
						<td>
							75 000</td>
						<td>
							4 000</td>
						<td>15 800</td>
						<td>94 800</td>
					</tr>
					<tr>
						<td>
							Transformation sans changement de genre</td>
						<td>
							113 000</td>
						<td>
							4 000</td>
						<td>23 400</td>
						<td>140 400</td>
					</tr>
					<tr>
						<td>
							Transformation entraînant changement de genre</td>
						<td>
							188 000</td>
						<td>
							4 000</td>
						<td>38 400</td>
						<td>230 400</td>
					</tr>
					<tr>
						<td>
							Erreur de transcription, discordance carte grise et véhicule (N° de série, énergie, puissance, PTAC, etc…)</td>
						<td>
							35 000</td>
						<td>
							4 000</td>
						<td>7 800</td>
						<td>46 800</td>
					</tr>
					<tr>
						<td>
							Perte de plaque du constructeur</td>
						<td>
							35 000</td>
						<td>
							4 000</td>
						<td>7 800</td>
						<td>46 800</td>
					</tr>
					<tr>
						<td>
							Pesage (tous véhicules)</td>
						<td>
							15 000</td>
						<td>
							4 000</td>
						<td></td>
						<td>15 000</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="">
			NB : Doivent faire l’objet d’une réception à titre isolé :
			<ul class="pl-4" style="list-style-type : number;">
				<li>
					Véhicules neufs ou usagés, importés directement par leurs utilisateurs propriétaires
				</li>
				<li>
					Véhicules prototypes
				</li>
				<li>
					Véhicules provenant des domaines
				</li>
				<li>
					Véhicules d’origine inconnue
				</li>
				<li>
					Une carrosserie non réceptionnée par type monté sur les châssis neuf déjà réceptionné par type
				</li>
			</ul>
			(*) Réception pour constatation de la conformité à la notice descriptive non pour immatriculation
		</div>
	</div>


	<div style="margin-left : 50px; margin-right:50px">
		<div class="section-title" data-margin="0 0 40px">
			<h2 class="text-center">
				Tarif réception technique par type (en Ariary)</h2>
		</div>
		<div class="overflow-auto tarif_visite text-center mb-3">

			{% include "pages/tarifs/tarif_reception/par_type.html.twig" %}
		</div>
	</div>

{% endblock %}

{% block javascripts %}
	{# erreur lorsque datatable est activé #}

	<script type="text/javascript" src="{{asset('js/tarifs/reception.datatable.fr.js')}}"></script>

{% endblock %}
