	    <div class="preloader">
        <span class="preloader-spin"></span>
      </div>
      <div class="site">
        <header>
          <div class="container">
            <div class="row">
              <div class="col-lg-2 col-sm-3 col-xs-2 logo-column">
                <a href="{{ path ( 'index')}}" class="logo">
                  <img src="{{ asset('flattheme/img/dgsr/logo/logo_dgsr.png') }}" alt="logo">
                </a>
              </div>
              <div class="col-lg-10 col-sm-9 col-xs-10 nav-column clearfix">

                <div   class="dgsr">
                  <h5>Direction Générale de la Sécurité Routière</h5>
                </div>
                <nav id="menu" class="d-none d-lg-block">
                  <ul>
                   {#  <li class="current-menu-item has-child">
                      <a href="accueil_dgsr.html">Accueil</a>
                      <ul class="sub-menu">
                        <li><a href="{{ path ( 'index')}}">Accueil - 01</a></li>
                        <li><a href="index-2.html">Home - 02</a></li>
                        <li><a href="index-3.html">Home - 03</a></li>
                      </ul>
                    </li> #}
                    <li class="{% if app.request.attributes.get('_route') starts with 'index' %}current-menu-item{% endif %}"><a href="{{ path ( 'index')}}">Acceuil</a></li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'historique' %}current-menu-item{% endif %}"><a href="{{ path ( 'historique')}}">Historique</a></li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'missions' %}current-menu-item{% endif %}"><a href="{{ path ( 'missions')}}">Missions</a></li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'organigramme' %}current-menu-item{% endif %}"><a href="{{ path ( 'organigramme')}}">Organigramme</a></li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'centres' %}current-menu-item{% endif %}"><a href="{{ path ( 'centres')}}">Centres</a></li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'tarif' %}current-menu-item{% endif %}">
                      <a href="{{ path ( 'tarifs' )}}">Tarifs</a></li>
                      
                      <li class="{% if app.request.attributes.get('_route') starts with 'actualites' %}current-menu-item{% endif %}"><a href="{{ path ( 'actualites')}}">Actualites</a></li>
                    </li>
                    <li class="{% if app.request.attributes.get('_route') starts with 'gallerie' %}current-menu-item{% endif %} has-child">
                      <a href="#">Gallerie</a>
                      <ul class="sub-menu">
                        <li><a href="{{ path ( 'gallerie_photo' )}}">Photos</a></li>
                        <li><a href="{{ path ( 'gallerie_video' )}}">Vidéos</a></li>
                      </ul>
                    </li>

                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </header> 
