
{% extends 'admin/base.html.twig' %}

{% block title  'Gérer les organigrammes'%}


{% block body %}

	<div class="container mt-4">
		<h1> Gérer les organigrammes</h1>

		{% for message in app.flashes('success') %}

			<div class="alert alert-success">
				{{message}}
			</div>

		{% endfor %}
		<div class="text-right">
			<a href="{{path('admin.org.new')}}" class="btn btn-primary">Ajouter un nouveau organigramme</a>
		</div>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Organigramme</th>
					<th>Période</th>
					<th>Actions</th>

				</tr>
			</thead>
			<tbody>
				{% for org in org %}
					<tr>
						<td>
							<div class="text-center" style="height : 60px; width : 60px;">
								
								<img  src="{{vich_uploader_asset(org, 'imageFile') | imagine_filter('thumb')   }}" alt="{{org.filename}}" >
							</div>
						</td>
						<td>{{ org.periode }}</td>
						<td>
							<a href="{{ path('admin.org.edit', { id : org.id }) }}" class="btn btn-secondary ">Editer</a>
							<form id="form" method="post" action="{{ path('admin.org.delete' , { 	id : org.id } ) }}" style="display : inline-block"> <!-- confirm dans ajax -->
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ org.id)  }}" >
								<button  class="btn btn-danger"> Supprimer </button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

	</div>




{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset( 'js/org_ajax.js') }}"></script>
	
{% endblock %}
