{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css"href="{{ asset( 'css/resp_table/style_table.css')}}">
	<link rel="stylesheet" type="text/css"href="{{ asset( 'css/resp_table/basictable.css')}}">
	<link rel="stylesheet" type="text/css"href="{{ asset( 'css/tarifs.css')}}">
{% endblock %}

{% block title %}Tarif visite technique {% endblock %}

	{% block content %}

		<h4 class="m-0 p-0"> Tarifs visite technique </h4>
		<h6 class="ref_inter_min">Référence : Arrêté Interministériel N° 040/2017 du 03 jan 2017</h6>

		<div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
			<div class="card">
				<div class="card-header" role="tab" id="headingOne">
					<h5 class="m-0 p-0">
						<div class="d-flex">
							<div>

								<a class="btn_tarif" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Visite sur site : apte</a>
							</div>
							<div class="ml-auto">
								<a href="" class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-md"> Liste des abreviations</a>
								<a class="btn_tarif" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									<i id="collapseOne_icone"  class="fa fa-toggle-down" style="color:gray;"></i>
								</a>
							</div>
						</div>
					</h5>
				</div>
				<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
					<div class="card-body">
						{% include 'pages/tarifs/tarif_visite/visite_site_apte.html.twig' %} 

					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="headingTwo">
					<h5 class="m-0 p-0">
						<div class="d-flex">
							<div >
								<a class="collapsed btn_tarif" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Visite sur site : inapte</a>
							</div>
							<div class="ml-auto">
								<a href="" class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-md"> Liste des abreviations</a>

								<a class="collapsed btn_tarif" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

									<i id="collapseTwo_icone" class="fa fa-toggle-down" style="color:gray;"></i>
								</a>
							</div>
						</div>
					</h5>
				</div>
				<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
					<div class="card-body">
						{% include 'pages/tarifs/tarif_visite/visite_site_inapte.html.twig' %} 
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-header" role="tab" id="headingThree">
					<h5 class="m-0 p-0">
						<div class="d-flex">
							<div>
								<a class="collapsed btn_tarif" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Visite à domicile</a>
							</div>
							<div class="ml-auto">
								<a href="" class="btn btn-outline-primary" data-toggle="modal" data-target=".bd-example-modal-md"> Liste des abreviations</a>

								<a class="collapsed btn_tarif" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									<i  id="collapseThree_icone" class="fa fa-toggle-down" style="color:gray;"></i>
								</a>
							</div>
						</div>
					</h5>
				</div>
				<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
					<div class="card-body">

						{% include 'pages/tarifs/tarif_visite/visite_domicile.html.twig' %} 
					</div>
				</div>
			</div>
		</div>



		{# ceci est le modal  #}

		<div  style="height:570px;" class="modal fade bd-example-modal-md " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-md" role="document">
				<div class="modal-content" style="background-color : #fff">

					<div class="actu_detail" >
						<div class="modal-header">
							<h5 class="modal-title actu_title"  id="exampleModalCenterTitle"> Liste des abbreviations</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="main-wrapper" oncontextmenu="return false">
							<div class="container-fluid ">
								{% include 'pages/tarifs/abreviations.html.twig' %} 

							</div>
						</div>
						<p class="actu_content p-4"> </p>

					</div>
				</div>
			</div>
		</div>


		<!-- debut papier utiles -->
		{% include 'pages/tarifs/tarif_visite/papiers_utiles.html.twig' %} 

		<!-- card pour tester rotate -->
		<div class="row">
			<div class="col-4">
				<div class="card h-100">
					<h4 class="card-header">Card Title</h4>
					<div class="card-body">
						<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
					</div>
					<div class="card-footer">
						<a href="#" class="btn btn-primary">Learn More</a>
					</div>
				</div>
			</div>

			{# card numero 2 #}
			<div class="col-4">
				<div class="card h-100">
					<h4 class="card-header">Card Title</h4>
					{# <img  src="{{ asset ('images/gallerie/image1.jpg') }}" alt="My image"> #}
					<div class="card-body">
						<p class="card-text">
							TV TAXI VILLE <br>
							13-200 - 22800 <br>
						</p>
						<div class="row text-center">
							<div class="col-6">
								D: 700 <br>
								PV : 100
							</div>
							<div class="col-6">
								C: 2000 <br>
								Ct: 6000 
							</div>


						</div>
					</div>
					<div class="card-footer">
						{# <a href="#" class="btn btn-primary">Learn More</a> #}
					</div>
					<div class="overlay ">
						<div class="text m-5 text-justify" style="color:white;"> 
							{# <h1>Elisa</h1> #}
							<div class="d-flex justify-content-center" style="font-size : 1.5em">
								
								D: Droit<br>
								P.V: Procès verbal<br>
								C: Carte<br>
								Cr: Carnet
								

							</div>
							<div class="d-flex justify-content-center">
								{# 	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum adipisci eos saepe, asperiores, recusandae impedit consequatur. Natus dignissimos ab consequuntur! Dignissimos sed harum, ipsam earum minima optio incidunt, expedita a! #}
							</div>
						</div>
					</div>
				</div>
			</div>		

			{# card numero 3 #}
			<div class="col-4">
				<div class="card card1 h-100">
					recto face
				</div>
				<div class="card card2 h-100">
					verso face
				</div>
			</div>
		</div>
	</div>



	{%endblock%}

	{% block javascripts %}  

		<script type="text/javascript" src="{{ asset( 'jquery/jquery.basictable.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset( 'js/resp_table.js') }}"></script>
		<script type="text/javascript" src="{{ asset( 'js/tarifs.js') }}"></script>

		{%endblock%}