{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css"href="{{ asset( 'css/resp_table/style_table.css')}}">
	<link rel="stylesheet" type="text/css"href="{{ asset( 'css/resp_table/basictable.css')}}">
	<link rel="stylesheet" type="text/css"href="{{ asset( 'css/tarifs.css')}}">
{% endblock %}

{% block title %}Tarif visite technique {% endblock %}

	{% block content %}
		<div class="page-title sp" style="background-image: url('{{ asset ('flattheme/img/dgsr/autres/centre.jpg') }}'); background-position: fixed;">
			<div class=" text-center ">
				<div class="d-flex  justify-content-between m-0 p-0">

					<div  class="" style="position: relative; width: 20%; height: 20%; top:0; left : 0;"> 
						<img style="width:50%; height:50%;" src="{{ asset('flattheme/img/dgsr/logo/logo_dgsr.png') }}" alt="logo">
					</div>
					<div class="">

						<h2>Direction Générale de la Sécurité Routière</h2>
					</div>
					<div  class="" style="position: relative; width: 20%; height: 20%; top:0; left : 0;"> 
						<img style="width:50%; height:50%;" src="{{ asset('flattheme/img/dgsr/logo/logo_dgsr.png') }}" alt="logo">
					</div>
				</div>
			</div>
		</div>    

		<div class="service-area bg2 sp">
			<div class="container">
				<div class="section-title">
					<h2>Visite Technique</h2>
					<p>Référence : Arrêté Interministériel N° 040/2017 du 03 jan 2017</p>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 single-service">
						<div class="inner">
							<div class="title">
								<div class="icon">
									<i class="fa fa-film"></i>
								</div>
								<h4><a href="" data-toggle="modal" data-target=".visite_domicile">Tarif Visite à domicile</a></h4>
							</div>
							<div class="content">
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 single-service">
						<div class="inner">
							<div class="title">
								<div class="icon">
									<i class="fa fa-camera"></i>
								</div>
								<h4><a href="	" data-toggle="modal" data-target=".visite_site_apte">Tarif Visite sur site, Apte</a></h4>
							</div>
							<div class="content">
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 single-service">
						<div class="inner">
							<div class="title">
								<div class="icon">
									<i class="fa fa-music"></i>
								</div>
								<h4><a href="	" data-toggle="modal" data-target=".visite_site_inapte">Tarif Visite sur site, Inapte</a></h4>
							</div>
							<div class="content">
							</div>
						</div>
					</div>

				</div>
			</div>
		</div> 

		{# modal pour mobile #}


		<div   style="height:600px;" class=" modal fade visite_domicile " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content" style="background-color : #fff">

					<div class="actu_detail " >
						<div class="modal-header">
							<h5 class="modal-title actu_title text-center"  id="exampleModalCenterTitle">
								Tarif visite technique à domicile
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="main-wrapper" style="height" oncontextmenu="return false">

							{% include 'pages/tarifs/tarif_visite/visite_domicile.html.twig' %} 
							{# <h1>	test</h1> #}

						</div>

					</div>
				</div>
			</div>
		</div>

		<div   style="height:600px;" class=" modal fade visite_site_apte " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content" style="background-color : #fff">

					<div class="actu_detail " >
						<div class="modal-header">
							<h5 class="modal-title actu_title text-center"  id="exampleModalCenterTitle">
								Tarif visite technique sur site, APTE
								
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="main-wrapper" style="height" oncontextmenu="return false">

							{% include 'pages/tarifs/tarif_visite/visite_site_apte.html.twig' %} 
							{# <h1>	test</h1> #}

						</div>

					</div>
				</div>
			</div>
		</div>

		<div   style="height:600px;" class=" modal fade visite_site_inapte " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content" style="background-color : #fff">

					<div class="actu_detail " >
						<div class="modal-header">
							<h5 class="modal-title actu_title text-center"  id="exampleModalCenterTitle">
								Tarif visite technique sur site, INAPTE
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="main-wrapper" style="height" oncontextmenu="return false">

							{% include 'pages/tarifs/tarif_visite/visite_site_inapte.html.twig' %} 
							{# <h1>	test</h1> #}

						</div>

					</div>
				</div>
			</div>
		</div>


		{%endblock%}