{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset( 'css/resp_table/style_table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ asset( 'css/resp_table/basictable.css')}}">
	<link
	rel="stylesheet" type="text/css" href="{{ asset( 'css/tarifs.css')}}">


	{# datatables #}
	<link href="{{asset('datatables/datatables.net-bs/css/dataTables.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('datatables/datatables.net-buttons-bs/css/buttons.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('datatables/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('datatables/datatables.net-responsive-bs/css/responsive.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('datatables/datatables.net-scroller-bs/css/scroller.bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{asset('datatables/datatables.net/css/jquery.dataTables.min.css')}}" rel="stylesheet">
	<link
	href="{{asset('/css/datatables/pagination_style.css')}}" rel="stylesheet">
{# fin datatables #}
{% endblock %}

{% block title %}Visite sur site
{% endblock %}

{% block content %}
	{% include 'layouts/couverture.html.twig' %}
	<div class="service-area bg2 sp">
		<div style="margin-left : 50px; margin-right:50px">
			<div class="section-title" data-margin="0 0 40px">
				<h2 class="text-center">
					Tarif visite technique sur site (APTE)</h2>
			</div>
			<div id="buttons"></div>
			<div class="overflow-auto tarif_visite tableFixHead ">
				<table id="visite_site_apte" class="two-axis table_tarif">
					<thead>
						<tr>
							<th class="text-center">Usage effectif des vehicules</th>
							<th class="text-center">Validité (mois)</th>
							<th class="text-center">Droit</th>
							<th class="text-center">
								Proces verbale</th>
							<th class="text-center">Carte</th>
							<th class="text-center">Carnet</th>
							<th class="text-center">Tht</th>
							<th class="text-center">Tva</th>
							<th class="text-center">Net à payer</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>
								TV
							</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								7 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								9 000</td>
							<td class="text-center">
								1 800</td>
							<td class="text-center">
								10 800</td>
						</tr>
						<tr>
							<td>
								TV
							</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								7 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								11 000</td>
							<td class="text-center">
								2 200</td>
							<td class="text-center">
								13 200</td>
						</tr>
						<tr>
							<td>
								TV
							</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								7 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								15 000</td>
							<td class="text-center">
								3 000</td>
							<td class="text-center">
								18 000</td>
						</tr>
						<tr>
							<td>
								TV
							</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								7 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								17 000</td>
							<td class="text-center">
								3 400</td>
							<td class="text-center">
								20 400</td>
						</tr>
						<tr>
							<td>
								VP
							</td>
							<td class="text-center">
								12</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								20 000</td>
							<td class="text-center">
								4 000</td>
							<td class="text-center">
								24 000</td>
						</tr>
						<tr>
							<td>
								VP
							</td>
							<td class="text-center">
								12</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								22 000</td>
							<td class="text-center">
								4 400</td>
							<td class="text-center">
								26 400</td>
						</tr>
						<tr>
							<td>
								VL
							</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								20 000</td>
							<td class="text-center">
								4 000</td>
							<td class="text-center">
								24 000</td>
						</tr>
						<tr>
							<td>
								VL
							</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								22 000</td>
							<td class="text-center">
								4 400</td>
							<td class="text-center">
								26 400</td>
						</tr>
						<tr>
							<td>
								VL
							</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								26 000</td>
							<td class="text-center">
								5 200</td>
							<td class="text-center">
								31 200</td>
						</tr>
						<tr>
							<td>
								VL
							</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								28 000</td>
							<td class="text-center">
								5 600</td>
							<td class="text-center">
								33 600</td>
						</tr>

						<tr>
							<td>
								AE ( Age ≤ 10 ans)</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								19 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								21 000</td>
							<td class="text-center">
								4 200</td>
							<td class="text-center">
								25 200</td>
						</tr>
						<tr>
							<td>
								AE ( Age ≤ 10 ans)</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								19 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								23 000</td>
							<td class="text-center">
								4 600</td>
							<td class="text-center">
								27 600</td>
						</tr>
						<tr>
							<td>
								AE ( Age ≤ 10 ans)</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								19 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								27 000</td>
							<td class="text-center">
								5 400</td>
							<td class="text-center">
								32 400</td>
						</tr>
						<tr>
							<td>
								AE ( Age ≤ 10 ans)</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								19 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								29 000</td>
							<td class="text-center">
								5 800</td>
							<td class="text-center">
								34 800</td>
						</tr>

						<tr>
							<td>
								AE ( Age > 10ans)</td>
							<td class="text-center">
								3</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								20 000</td>
							<td class="text-center">
								4 000</td>
							<td class="text-center">
								24 000</td>
						</tr>
						<tr>
							<td>
								AE ( Age > 10ans)</td>
							<td class="text-center">
								3</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								22 000</td>
							<td class="text-center">
								4 400</td>
							<td class="text-center">
								26 400</td>
						</tr>
						<tr>
							<td>
								AE ( Age > 10ans)</td>
							<td class="text-center">
								3</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								26 000</td>
							<td class="text-center">
								5 200</td>
							<td class="text-center">
								31 200</td>
						</tr>
						<tr>
							<td>
								AE ( Age > 10ans)</td>
							<td class="text-center">
								3</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								28 000</td>
							<td class="text-center">
								5 600</td>
							<td class="text-center">
								33 600</td>
						</tr>

						<tr>
							<td>
								VL<6plcs (VL6)</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								14 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								16 000</td>
							<td class="text-center">
								3 200</td>
							<td class="text-center">
								19 200</td>
						</tr>
						<tr>
							<td>
								VL<6plcs (VL6)</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								14 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								3 600</td>
							<td class="text-center">
								21 600</td>
						</tr>
						<tr>
							<td>
								VL<6plcs (VL6)</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								14 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								22 000</td>
							<td class="text-center">
								4 400</td>
							<td class="text-center">
								26 400</td>
						</tr>
						<tr>
							<td>
								VL<6plcs (VL6)</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								14 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								24 000</td>
							<td class="text-center">
								4 800</td>
							<td class="text-center">
								28 800</td>
						</tr>

						<tr>
							<td>
								TM 3 ( Age ≤ 5 ans)</td>
							<td class="text-center">
								12</td>
							<td class="text-center">
								7 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								9 000</td>
							<td class="text-center">
								1 800</td>
							<td class="text-center">
								10 800</td>
						</tr>
						<tr>
							<td>
								TM 3 ( Age ≤ 5 ans)</td>
							<td class="text-center">
								12</td>
							<td class="text-center">
								7 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								11 000</td>
							<td class="text-center">
								2 200</td>
							<td class="text-center">
								13 200</td>
						</tr>
						<tr>
							<td>
								TM 3 ( Age ≤ 5 ans)</td>
							<td class="text-center">
								12</td>
							<td class="text-center">
								7 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								15 000</td>
							<td class="text-center">
								3 000</td>
							<td class="text-center">
								18 000</td>
						</tr>
						<tr>
							<td>
								TM 3 ( Age ≤ 5 ans)</td>
							<td class="text-center">
								12</td>
							<td class="text-center">
								7 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								17 000</td>
							<td class="text-center">
								3 400</td>
							<td class="text-center">
								20 400</td>
						</tr>

						<tr>
							<td>
								TM 3 ( Age >5 ans)</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								8 000</td>
							<td class="text-center">
								1 600</td>
							<td class="text-center">
								9 600</td>
						</tr>
						<tr>
							<td>
								TM 3 ( Age >5 ans)</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								10 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								12 000</td>
						</tr>
						<tr>
							<td>
								TM 3 ( Age >5 ans)</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								14 000</td>
							<td class="text-center">
								2 800</td>
							<td class="text-center">
								16 800</td>
						</tr>
						<tr>
							<td>
								TM 3 ( Age >5 ans)</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								16 000</td>
							<td class="text-center">
								3 200</td>
							<td class="text-center">
								19 200</td>
						</tr>

						<tr>
							<td>
								REM3 - SREM3 - TA -TMTPERS</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								8 000</td>
							<td class="text-center">
								1 600</td>
							<td class="text-center">
								9 600</td>
						</tr>
						<tr>
							<td>
								REM3 - SREM3 - TA -TMTPERS</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								10 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								12 000</td>
						</tr>
						<tr>
							<td>
								REM3 - SREM3 - TA -TMTPERS</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								14 000</td>
							<td class="text-center">
								2 800</td>
							<td class="text-center">
								16 800</td>
						</tr>
						<tr>
							<td>
								REM3 - SREM3 - TA -TMTPERS</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								16 000</td>
							<td class="text-center">
								3 200</td>
							<td class="text-center">
								19 200</td>
						</tr>

						<tr>
							<td>
								VP 300 (Age ≤ 5 ans )</td>
							<td class="text-center">
								12</td>
							<td class="text-center">
								12 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								14 000</td>
							<td class="text-center">
								2 800</td>
							<td class="text-center">
								16 800</td>
						</tr>
						<tr>
							<td>
								VP 300 (Age ≤ 5 ans )</td>
							<td class="text-center">
								12</td>
							<td class="text-center">
								12 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								16 000</td>
							<td class="text-center">
								3 200</td>
							<td class="text-center">
								19 200</td>
						</tr>
						<tr>
							<td>
								VP 300 (Age ≤ 5 ans )</td>
							<td class="text-center">
								12</td>
							<td class="text-center">
								12 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								20 000</td>
							<td class="text-center">
								4 000</td>
							<td class="text-center">
								24 000</td>
						</tr>
						<tr>
							<td>
								VP 300 (Age ≤ 5 ans )</td>
							<td class="text-center">
								12</td>
							<td class="text-center">
								12 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								22 000</td>
							<td class="text-center">
								4 400</td>
							<td class="text-center">
								26 400</td>
						</tr>

						<tr>
							<td>
								VP 300 (Age > 5 ans )</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								10 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								12 000</td>
							<td class="text-center">
								2 400</td>
							<td class="text-center">
								14 400</td>
						</tr>
						<tr>
							<td>
								VP 300 (Age > 5 ans )</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								10 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								14 000</td>
							<td class="text-center">
								2 800</td>
							<td class="text-center">
								16 800</td>
						</tr>
						<tr>
							<td>
								VP 300 (Age > 5 ans )</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								10 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								3 600</td>
							<td class="text-center">
								21 600</td>
						</tr>
						<tr>
							<td>
								VP 300 (Age > 5 ans )</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								10 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								20 000</td>
							<td class="text-center">
								4 000</td>
							<td class="text-center">
								24 000</td>
						</tr>

						<tr>
							<td>
								TPP ≤ 25 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								15 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								17 000</td>
							<td class="text-center">
								3 400</td>
							<td class="text-center">
								20 400</td>
						</tr>
						<tr>
							<td>
								TPP ≤ 25 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								15 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								19 000</td>
							<td class="text-center">
								3 800</td>
							<td class="text-center">
								22 800</td>
						</tr>
						<tr>
							<td>
								TPP ≤ 25 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								15 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								23 000</td>
							<td class="text-center">
								4 600</td>
							<td class="text-center">
								27 600</td>
						</tr>
						<tr>
							<td>
								TPP ≤ 25 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								15 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								25 000</td>
							<td class="text-center">
								5 000</td>
							<td class="text-center">
								30 000</td>
						</tr>

						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 25 places et ≤ 50 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								25 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								27 000</td>
							<td class="text-center">
								5 400</td>
							<td class="text-center">
								32 400</td>
						</tr>
						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 25 places et ≤ 50 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								25 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								29 000</td>
							<td class="text-center">
								5 800</td>
							<td class="text-center">
								34 800</td>
						</tr>
						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 25 places et ≤ 50 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								25 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								33 000</td>
							<td class="text-center">
								6 600</td>
							<td class="text-center">
								39 600</td>
						</tr>
						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 25 places et ≤ 50 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								25 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								35 000</td>
							<td class="text-center">
								7 000</td>
							<td class="text-center">
								42 000</td>
						</tr>

						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 50 places et ≤ 75 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								35 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								37 000</td>
							<td class="text-center">
								7 400</td>
							<td class="text-center">
								44 400</td>
						</tr>
						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 50 places et ≤ 75 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								35 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								39 000</td>
							<td class="text-center">
								7 800</td>
							<td class="text-center">
								46 800</td>
						</tr>
						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 50 places et ≤ 75 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								35 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								43 000</td>
							<td class="text-center">
								8 600</td>
							<td class="text-center">
								51 600</td>
						</tr>
						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 50 places et ≤ 75 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								35 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								45 000</td>
							<td class="text-center">
								9 000</td>
							<td class="text-center">
								54 000</td>
						</tr>

						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 75 places et ≤ 100 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								45 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								47 000</td>
							<td class="text-center">
								9 400</td>
							<td class="text-center">
								56 400</td>
						</tr>
						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 75 places et ≤ 100 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								45 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								49 000</td>
							<td class="text-center">
								9 800</td>
							<td class="text-center">
								58 800</td>
						</tr>
						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 75 places et ≤ 100 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								45 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								53 000</td>
							<td class="text-center">
								10 600</td>
							<td class="text-center">
								63 600</td>
						</tr>
						<tr>
							<td>
								TBR - TPP - CU - CSUB - VL > 75 places et ≤ 100 places</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								45 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								55 000</td>
							<td class="text-center">
								11 000</td>
							<td class="text-center">
								66 000</td>
						</tr>

						<tr>
							<td>
								TCS - TBR - CU - CSUB</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								9 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								11 000</td>
							<td class="text-center">
								2 200</td>
							<td class="text-center">
								13 200</td>
						</tr>
						<tr>
							<td>
								TCS - TBR - CU - CSUB</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								9 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								13 000</td>
							<td class="text-center">
								2 600</td>
							<td class="text-center">
								15 600</td>
						</tr>
						<tr>
							<td>
								TCS - TBR - CU - CSUB</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								9 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								17 000</td>
							<td class="text-center">
								3 400</td>
							<td class="text-center">
								20 400</td>
						</tr>
						<tr>
							<td>
								TCS - TBR - CU - CSUB</td>
							<td class="text-center">
								4</td>
							<td class="text-center">
								9 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								19 000</td>
							<td class="text-center">
								3 800</td>
							<td class="text-center">
								22 800</td>
						</tr>

						<tr>
							<td>
								TM6 - REM6 - SREM6</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								10 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								12 000</td>
							<td class="text-center">
								2 400</td>
							<td class="text-center">
								14 400</td>
						</tr>
						<tr>
							<td>
								TM6 - REM6 - SREM6</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								10 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								14 000</td>
							<td class="text-center">
								2 800</td>
							<td class="text-center">
								16 800</td>
						</tr>
						<tr>
							<td>
								TM6 - REM6 - SREM6</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								10 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								18 000</td>
							<td class="text-center">
								3 600</td>
							<td class="text-center">
								21 600</td>
						</tr>
						<tr>
							<td>
								TM6 - REM6 - SREM6</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								10 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								20 000</td>
							<td class="text-center">
								4 000</td>
							<td class="text-center">
								24 000</td>
						</tr>

						<tr>
							<td>
								TM7 - TRR7 - REM7 - SREM7</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								15 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								17 000</td>
							<td class="text-center">
								3 400</td>
							<td class="text-center">
								20 400</td>
						</tr>
						<tr>
							<td>
								TM7 - TRR7 - REM7 - SREM7</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								15 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								19 000</td>
							<td class="text-center">
								3 800</td>
							<td class="text-center">
								22 800</td>
						</tr>
						<tr>
							<td>
								TM7 - TRR7 - REM7 - SREM7</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								15 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								23 000</td>
							<td class="text-center">
								4 600</td>
							<td class="text-center">
								27 600</td>
						</tr>
						<tr>
							<td>
								TM7 - TRR7 - REM7 - SREM7</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								15 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								25 000</td>
							<td class="text-center">
								5 000</td>
							<td class="text-center">
								30 000</td>
						</tr>

						<tr>
							<td>
								TM10 - TRR10 - REM 10 - SREM 10</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								23 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								25 000</td>
							<td class="text-center">
								5 000</td>
							<td class="text-center">
								30 000</td>
						</tr>
						<tr>
							<td>
								TM10 - TRR10 - REM 10 - SREM 10</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								23 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								27 000</td>
							<td class="text-center">
								5 400</td>
							<td class="text-center">
								32 400</td>
						</tr>
						<tr>
							<td>
								TM10 - TRR10 - REM 10 - SREM 10</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								23 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								31 000</td>
							<td class="text-center">
								6 200</td>
							<td class="text-center">
								37 200</td>
						</tr>
						<tr>
							<td>
								TM10 - TRR10 - REM 10 - SREM 10</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								23 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								33 000</td>
							<td class="text-center">
								6 600</td>
							<td class="text-center">
								39 600</td>
						</tr>

						<tr>
							<td>
								TM 16 - TRR 16 - REM 16 - SREM 16</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								39 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								41 000</td>
							<td class="text-center">
								8 200</td>
							<td class="text-center">
								49 200</td>
						</tr>
						<tr>
							<td>
								TM 16 - TRR 16 - REM 16 - SREM 16</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								39 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								43 000</td>
							<td class="text-center">
								8 600</td>
							<td class="text-center">
								51 600</td>
						</tr>
						<tr>
							<td>
								TM 16 - TRR 16 - REM 16 - SREM 16</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								39 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								-</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								47 000</td>
							<td class="text-center">
								9 400</td>
							<td class="text-center">
								56 400</td>
						</tr>
						<tr>
							<td>
								TM 16 - TRR 16 - REM 16 - SREM 16</td>
							<td class="text-center">
								6</td>
							<td class="text-center">
								39 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								2 000</td>
							<td class="text-center">
								6 000</td>
							<td class="text-center">
								49 000</td>
							<td class="text-center">
								9 800</td>
							<td class="text-center">
								58 800</td>
						</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<!-- Datatables -->
	<script src="{{asset('vendors/datatables.net/js/jquery.dataTables.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/dataTables.buttons.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.flash.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.html5.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-buttons/js/buttons.print.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive/js/dataTables.responsive.min.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')}}"></script>
	<script src="{{asset('vendors/datatables.net-scroller/js/dataTables.scroller.min.js')}}"></script>
	<script src="{{asset('vendors/jszip/dist/jszip.min.js')}}"></script>
	<script src="{{asset('vendors/pdfmake/build/pdfmake.min.js')}}"></script>
	<script src="{{asset('vnedors/pdfmake/build/vfs_fonts.js')}}"></script>
	<script type="text/javascript" src="{{asset('js/tarifs/visite_site_apte.datatable.fr.js')}}"></script>

{% endblock %}
