{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link
	rel="stylesheet" href="{{ asset('css/home.css') }}">

{# <link rel="stylesheet" href="{{ asset('css/material.indigo-blue.min.css') }}"> #}

{% endblock %}

{% block title %}Accueil
{% endblock %}

{% block banniere %}
	<div class="banniere_home">
		{% include 'layouts/banniere.html.twig' %}
	</div>
{%endblock %}
{% block carousel %}
	<div class="caroussel">
		<div class="hero-slider ">
			{% for car in carousels %}
				<div class="single-slide" style="background-image: url('{{vich_uploader_asset(car, 'imageFile')  }}'); ">
					<div class="inner ">
						<div class="container text-center">
							<div class="slide-content "></div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
{% block content %}

	<div class="service-area bg2 sp">
		<div class="container">
			<div class="section-title">
				<h2>Nos Services</h2>
				<!-- <p>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p> -->
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6   text-center">
					<a href="{{path('missions')}}#nos_services">
						<div class="inner p-3">
							<div class="img-thumbnail mb-3">
								<img src="{{asset('images/missions_activites/visite_technique.png')}}" alt="">
							</div>
							<h4 class="m-0">Visite technique
							</h4>
							<div class="content"></div>
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6   text-center">
					<a href="{{path('missions')}}#nos_services">
						<div class="inner p-3">
							<div class="img-thumbnail mb-3">
								<img src="{{asset('images/missions_activites/reception_technique.png')}}" alt="">
							</div>
							<h4 class="m-0">Réception technique
							</h4>
							<div class="content"></div>
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6   text-center">
					<a href="{{path('missions')}}#nos_services">
						<div class="inner p-3">
							<div class="img-thumbnail mb-3">
								<img src="{{asset('images/missions_activites/constatation.png')}}" alt="">
							</div>
							<h4 class="m-0">Constatation avant Dédouanement
							</h4>
							<div class="content"></div>
						</div>
					</a>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6   text-center">
					<a href="{{path('missions')}}#nos_services">
						<div class="inner p-3">
							<div class="img-thumbnail mb-3">
								<img src="{{asset('images/missions_activites/controle1.png')}}" alt="">
							</div>
							<h4 class="m-0">Controle inopiné
							</h4>
							<div class="content"></div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<div class="about-area sp m-0 p-0 text-center">
		<iframe src="{{ spot }}" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));'></iframe>
	</div>


	<div class="service-area bg2 sp">
		<div class="container">
			<div class="section-title">
				<h2>Dernières actualités</h2>
				<!-- <p>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p> -->
			</div>
			<div class="row">
				{% for actualite in actualites %}
					<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6   text-center mb-5">
						<div class="post post-overlay life-style-post post-separator-border">
							<div
								class="post-wrap">

								<!-- Image -->
								{% set i = 0 %}
								{# initialisation de i pour le compteur #}
								{% for attachement in attachements %}
									{% if actualite == attachement.actualite %}
										{# verifier si attachement correspond à curent actualite #}
										{% if i == 0 %}
											{# on veut juste afficher la première image #}
											<div class="image"><img src="{{vich_uploader_asset(attachement, 'imageFile') }}" alt=""></div>
										{% endif %}
										{%  set i = i + 1 %}
									{% endif %}
								{% endfor %}

								<!-- Content -->
								<div
									class="content">

									<!-- Title -->
									<h4 class="title">
										<a href="{{path('actualite_details', {'id' : actualite.id })}}">{{actualite.title}}</a>
									</h4>

									<!-- Meta -->
									<div class="meta fix">
										<span class="meta-item date">
											<i class="fa fa-clock-o"></i>
											{{ actualite.datePub | date('d-m-Y')}}</span>
									</div>
								</div>

							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="text-center btn_liste_actu">
				<a href="{{ path('actualites') }}" class="button">Voir toutes les actualités</a>
			</div>
		</div>

	</div>
{% endblock %}
{% block javascripts %}{# permet de regler parametre slide actualite dans la section testimonial slider #}<script type="text/javascript" src="{{asset('flattheme/js/active_home.js') }}"></script>
{% endblock %}
