{% extends 'base.html.twig' %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block title %}Accueil{% endblock %}

	{% block banniere %} 
    <div class="banniere_home">
      {% include 'layouts/banniere.html.twig' %} 
    </div>
    {%endblock %}
    {% block carousel %} 
      <div class="caroussel">
        <div class="hero-slider " >
          <div class="single-slide" style="background-image: url('{{vich_uploader_asset(actualite1, 'imageFile')  }}'); ">
            <div class="inner ">
              <div class="container text-center">
                <div class="slide-content ">
                  <p class="carousel-caption ">{{ actu1_title }}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="single-slide " style="background-image: url('{{vich_uploader_asset(actualite2, 'imageFile')  }}')">
           <div class="inner">
            <div class="container">
             <div class="row justify-content-center">
              <div class="col-lg-6 text-center">
               <div class="slide-content">

                <p class="carousel-caption">{{ actu2_title }}</p>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="single-slide" style="background-image: url('{{vich_uploader_asset(actualite3, 'imageFile')}}')">
     <div class="inner">
      <div class="container">
       <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
         <div class="slide-content">

          <p class="carousel-caption">{{ actu3_title }}</p>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>
{%endblock%}
{% block content %}

 <div class="service-area bg2 sp">
  <div class="container">
   <div class="section-title">
    <h2>Nos Services</h2>
    <!-- <p>Malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae.</p> -->
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 single-service text-center">
      <div class="inner p-3">
       <div class="icon">
        <i class="fa fa-taxi"></i>
      </div>
      <p class="m-0">Visite Technique</p>
      <div class="content">
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6  single-service text-center">
   <div class="inner p-3">
     <div class="icon">
      <i class="fa fa-car"></i>
    </div>
    <p class="m-0">Réception Technique</p>
    <div class="content">
    </div>
  </div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6  single-service text-center">
 <div class="inner p-3">
   <div class="icon">
    <i class="fa fa-bus"></i>
  </div>
  <p class="m-0">Constatation avant Dédouanement </p>
  <div class="content">
  </div>
</div>
</div>
<div class="col-lg-3 col-md-6 col-sm-6 col-xs-6  single-service text-center">
 <div class="inner p-3">
   <div class="icon">
    <i class="fa fa-truck"></i>
  </div>
  <p class="m-0">Controle inopiné </p>
  <div class="content">
  </div>
</div>
</div>

</div>
</div>
</div>

<div class="about-area sp m-0 p-0 text-center">
  <iframe src="{{ spot }}" onload='javascript:(function(o){o.style.height=o.contentWindow.document.body.scrollHeight+"px";}(this));' ></iframe>
</div>

<div class="faq-area sp bg2">
  <div class="container">
   <div class="section-title">
    <h2>Mot du Directeur Général</h2>
    <p>Tsy ny tonga lafatra ihany fa ny tsara tsara kokoa</p>
  </div>
  <div class="row">
    <div class="col-md-4">

      <div class=" single-team">
       <div class="inner">
        <div class="team-img">
         <img src="{{vich_uploader_asset(current_dg, 'imageFile')}}" alt="Member Photo">
       </div>
       <div class="team-content">
         <h5>{{ current_dg.grade }}</h5>
         <h4>{{ current_dg.name }}</h4>

       </div>
     </div>
   </div>
 </div>
 <div class="col-md-8">
   <div class="faq">
    <div class="single-item">
     <h4>{{ (last_dgword.word  | length > 50 ? last_dgword.word |slice(0, 70) ~ '...' : last_dgword.word ) | raw }} </h4>

     <div class="content">

      {{ last_dgword.word | raw }} 
    </div>
  </div>
  <div class="single-item">
   <h4>{{ (last_dgword.wordGasy  | length > 50 ? last_dgword.wordGasy |slice(0, 70) ~ '...' : last_dgword.wordGasy ) | raw }} </h4>

   <div class="content">
    {{ last_dgword.wordGasy | raw }}
  </div>
</div>

</div>
</div>
</div>
</div>
</div>

{%endblock%}
