{% extends 'base.html.twig' %}

{% block stylesheets %} 

	<link rel="stylesheet" type="text/css" href="{{ asset( 'css/actualites.css')}}">

	{%endblock%}

	{% block content %}

		<div style="padding-top : 20px;">

			<div class="row">

				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
					<ol class="breadcrumb">
						Actualités
					</ol>
					{% for actualite in actualites %}
						<a class="js-actu_show" href="{{ path('actualite.show', { id : actualite.id }) }}">
							<div class="container_img" >
								<img class="image" class="img-fluid rounded mb-4" src="{{vich_uploader_asset(actualite, 'imageFile1')  }}" alt="">
								<div class="overlay">
									<div class="text" style="margin : 0px;"> 
										<div class="d-flex justify-content-center">
											{{ actualite.title}} 
										</div>
										<div class="d-flex justify-content-center">
										</div>
									</div>
								</div>

							</div>
						</a>
					{% endfor %}
					<div style="text-align :  center;">
						<div style="display : inline-block;">


						</div>
					</div>
				</div>
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
					<div class="actu_detail">

						<div class="titre_actu" >

							<h5 class="actu_title"> <br> <span class="actu_datepub">  </span></h5>

						</div>
						<div class="main-wrapper" oncontextmenu="return false">
							<div class="container-fluid">

								<div *ngIf="selectedActu.url_img2" class="row ten-cols">
									<div class="col-md-6 no-space">
										<div class="content-box bg-one">
											<div class="content-box-expend">
												<a class="content-box-title">
													<div class="content-box-icon">
														<img class="imageflottante" class="img-fluid img1 rounded mb-4" src="" alt="">
													</div> 
												</a>
											</div>
										</div>
										<div class="content-box bg-two">
											<div class="content-box-expend">
												<a class="content-box-title">
													<div class="content-box-icon">
														<img class="imageflottante" class="img-fluid img2 rounded mb-4" src="" alt="">
													</div>
												</a>
											</div>
										</div>
									</div>
									<div class="col-md-6 no-space">
										<div class="content-box bg-three">
											<div class="content-box-expend">
												<a class="content-box-title">
													<div class="content-box-icon">
														<img class="imageflottante" class="img-fluid img3 rounded mb-4" src="" alt="">
													</div>
												</a>
											</div>
										</div>
										<div class="content-box bg-four">
											<div class="content-box-expend">
												<a class="content-box-title">
													<div class="content-box-icon">
														<img class="imageflottante" class="img-fluid img4 rounded mb-4" src="" alt="">
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<p class="actu_content"> </p>

					</div>

				</div>

			</div>

		</div>

		{%endblock%}

		{% block javascripts %}
			<script src="{{ asset('js/actualites_ajax.js') }}"></script>
		{% endblock %}

