{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/actualites.css') }}">
{% endblock %}
{% block title %}Actualités {% endblock %}
	{% block content %}
		{% include 'layouts/couverture.html.twig' %}    
		<div class="testimonial-area spb pb-0">
			<div class="container">
				<div class="section-title">
					<h2>Les actualités</h2>
				</div >
				<div class="row">	
					{% for actualite in actualites %}
						<div class="col-lg-4 col-md-6 col-sm-6 col-xs-2">	
							<div class="single-portfolio m-0 p-0">
								<div class="inner">
									<div class="portfolio-content">
										<h5>{{ actualite.title}}</h5>
										<span>{{ actualite.datePub | date('d-m-Y')}}</span>
									</div>
									<div class="portfolio-img">
										{% set i = 0 %} {# initialisation de i pour le compteur #}
											{% for attachement in attachements %}  
												{% if actualite == attachement.actualite %} {# verifier si attachement correspond à curent actualite #}

													{% if i == 0 %} {# on veut juste afficher la première image #}


														<img src="{{vich_uploader_asset(attachement, 'imageFile')  }}" alt="">
													{% endif %}

													{%  set i = i + 1 %}

												{% endif %}
											{% endfor %}
											<div class="hover-content">
												<div>
													<a class="js-actu_show button " id="actu-{{ actualite.id }}"	href="{{ path('actualite.show', { id : actualite.id }) }}">
														Voir
													</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}  
						<div>	</div>
					</div> 
					<button style="display : none;" id="bouton" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-xl">Extra large modal</button>
					<div class=" modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content" style="background-color : #fff">
								<div class="actu_detail " >
									<div class="modal-header">
										<div>
											<h5 class="modal-title actu_title"  id="exampleModalCenterTitle"></h5>
											<p class="actu_datepub m-0 p-0"></p>

										</div>

										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="main-wrapper" oncontextmenu="return false">
										<div class="container-fluid ">
											<div class=" actu_mobile_photo bg-one">	
												<img class="imageflottante" class="img-fluid img1 rounded mb-4" src="" alt="">
											</div>
											<div class="actu_photos mr-4" style="float : left; clear : both; width:600px">	
												<div class="row ten-cols">
													<div class="col-6">
														<div class="bg-one">	
															<img class="imageflottante" class="img-fluid img1 rounded mb-4" src="" alt="">
														</div>
													</div>
													<div class="col-6">
														<div class="bg-two">	
															<img class="imageflottante" class="img-fluid img2 rounded mb-4" src="" alt="">
														</div>
													</div>
													<div class="col-6">
														<div class="bg-three">	
															<img class="imageflottante" class="img-fluid img3 rounded mb-4" src="" alt="">
														</div>
													</div>
													<div class="col-6">
														<div class="bg-four">	
															<img class="imageflottante" class="img-fluid img4 rounded mb-4" src="" alt="">
														</div>
													</div>
												</div> {# fin row #}
											</div>
											<p  class="actu_content " style="text-aling:justify"> </p>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				{%endblock%}
				{% block javascripts %}
					<script src="{{ asset('js/actualites_ajax.js') }}"></script>
				{% endblock %}
