{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css"href="{{ asset( 'css/resp_table/style_table.css')}}">
	<link rel="stylesheet" type="text/css"href="{{ asset( 'css/resp_table/basictable.css')}}">
	<link rel="stylesheet" type="text/css"href="{{ asset( 'css/tarifs.css')}}">

{% endblock %}

{% block title %}Tarif constatation {% endblock %}





	{% block content %}
		<h3> Tarif constatation avant dédouanement </h3>

		{% include 'pages/tarifs/tarif_consta/consta.html.twig' %} 
		{%endblock%}

		{% block javascripts %}  

			<script type="text/javascript" src="{{ asset( 'jquery/jquery.basictable.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset( 'js/resp_table.js') }}"></script>

			{%endblock%}