{% extends 'base.html.twig' %}
{% block stylesheets %} 
  <link rel="stylesheet" type="text/css" href="{{ asset( 'css/centres.css')}}"> 
  {%endblock%}

  {% block content %}
    <div class="row mt-4">
      <div class="col-lg-3 col-md-4 ">
        {% for  faritany in faritany %}
          <div id="accordion">
            <div class="mb-1" id="accordion" role="tablist" aria-multiselectable="true">
              <div class=" mdl-shadow--3dp">
                <div class="card-header d-flex" role="tab" id="headingOne">
                  <div class="text-left">
                    <h6  class="mb-0 mt-0 ml-0 ">
                      {{ faritany.faritany }}


                    </h6>
                  </div>
                  <div class="ml-auto" >
                    <a   class="nav-link m-0 p-0 faritany-mada" style="text-decoration:none;" data-toggle="collapse" data-parent="#accordion" href="#{{ faritany.faritany }}" aria-expanded="true" aria-controls="{{ faritany.faritany }}">

                      <i id="{{ faritany.faritany }}_icone"  class="fa fa-toggle-down" style="color:gray;"></i>
                    </a>
                  </div>
                </div>
                <div id="{{ faritany.faritany }}" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-body m-0 p-0">
                   <table class="table table-striped">
                    <ul class="liste_centres" >
                      {% for centre in centres %}
                        {% if centre.ville.faritany == faritany.faritany  %}
                          <li  class="test" id="centre-{{ centre.id }} ">
                            <a style="text-decoration:none" href="{{ path('centre.show', {'id' : centre.id }) }}" class="btn btn-link js-centre_show nav-link" id="centre.id">
                              {% if centre.ville | lower == faritany.faritany | lower %}
                                {% set adresse = centre.adresse|split(',') %}
                                  {{ adresse[0] }}

                                {% else %}
                                  {{centre.ville}}
                                {% endif %}
                              </a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

      <div class="col-lg-9 col-md-8 madagascar">
        <div class="d-flex justify-content-center">
          <img style='height: 40%; width: 40%;' src="{{ asset ('images/centre/madagascar.png') }}" alt="My image">
        </div>

      </div>


      <div class="col-lg-9 col-md-8">
        <div class="detail_centre ">

          <h2 class="m-0"> <span class="ville">  </span> <small class="faritany">  </small></h2>
          <hr>
          <div class="row">
            <div class=" col-lg-7 col-md-12 col-sm-12 col-12">
              <img class="image_centre"src="" alt=""> 
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-12">
              <p class="label_cc">Chef de centre : </p>
              <span class="grade_cc"></span> <span class="nom_cc"> </span></p>
              <hr class="col-lg-10 col-md-10 col-sm-10" style="text-align: center ; margin-bottom: 15px">
              <p class="label_adresse">Adresse : </p>
              <p class="adresse"> </p>
              <hr class="col-lg-10 col-md-10" style="text-align: center ; margin-bottom: 15px">
              <p class="label_phone">Téléphone : </p>
              <p class="num_cc"> </p>
            </div>
          </div>
        </div>

      </div>
    </div>




    {%endblock%}

    {% block javascripts %}
      <script  src="{{ asset('js/axios.min.js') }}" type="text/javascript"></script>
      <script  src="{{ asset('js/centre_ajax.js') }}" type="text/javascript"></script>
      <script  src="{{ asset('js/centre.js') }}" type="text/javascript"></script>
      <script>


      </script>
      {%endblock%}