{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ asset( 'css/resp_table/style_table.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ asset( 'css/resp_table/basictable.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ asset( 'css/tarifs.css')}}">
{% endblock %}

{% block title %}Tarifs
{% endblock %}

{% block content %}
	{% include 'layouts/couverture.html.twig' %}

	{# <div class="service-area bg2 sp">
							<div class="container text-center">
								<div class="section-title">
								<h2>Tarifs et papiers utiles</h2>
									<p>Référence : Arrêté Interministériel N° 040/2017 du 03 jan 2017</p>
								</div>
								<div class="row">
									<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 single-service">
					
										<div class="inner p-2">
											<div class="row">
												<div class="col-3">
													<div class="text-center">
														<img src="{{ asset('flattheme/img/dgsr/icon/VT.png') }}" alt="logo">
													</div>
												</div>
												<div class="col-9">
													<a class="btn_tarif" href="{{ path ('visite_domicile')}}">
														<div class="title d-flex text-left">
															<h4 class="p-0">
													
															Visite Technique à domicile
														</h4>
													</div>
													</a><div class="content"> </div>
												</div>
											</div>
					
										</div>
					
									</div>
					
									<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 single-service">
					
										<div class="inner p-2">
											<div class="row">
												<div class="col-3">
													<div class="text-center">
														<img src="{{ asset('flattheme/img/dgsr/icon/VTAp.png') }}" alt="logo">
													</div>
												</div>
												<div class="col-9">
													<a class="btn_tarif" href="{{path('visite_site_apte')}}">
														<div class="title d-flex text-left">
															<h4
																class="p-0">
					
																Visite Technique sur site (APTE)
															</h4>
														</div>
													</a>
													<div class="content"></div>
												</div>
											</div>
					
										</div>
					
									</div>
					
									<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 single-service">
					
										<div class="inner p-2">
											<div class="row">
												<div class="col-3">
													<div class="text-center">
														<img src="{{ asset('flattheme/img/dgsr/icon/VTIn.png') }}" alt="logo">
													</div>
												</div>
												<div class="col-9">
													<a class="btn_tarif" href="{{path('visite_site_inapte')}}">
														<div class="title d-flex text-left">
															<h4
																class="p-0">
																Visite Technique sur site (INAPTE)
															</h4>
														</div>
													</a>
													<div class="content"></div>
												</div>
											</div>
					
										</div>
					
									</div>
					
									<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 single-service">
					
										<div class="inner p-2">
											<div class="row">
												<div class="col-3">
													<div class="text-center">
														<img src="{{ asset('flattheme/img/dgsr/icon/RT.png') }}" alt="logo">
													</div>
												</div>
												<div class="col-9">
													<a class="btn_tarif" href="{{path('tarif_reception')}}">
														<div class="title d-flex text-left">
															<h4
																class="p-0">
																Réceptions Techniques
																<br>
																(isolé et par type)
															</h4>
														</div>
													</a>
													<div class="content"></div>
												</div>
											</div>
					
										</div>
					
									</div>
					
									<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 single-service">
					
										<div class="inner p-2">
											<div class="row">
												<div class="col-3">
													<div class="text-center">
														<img src="{{ asset('flattheme/img/dgsr/icon/VTDo.png') }}" alt="logo">
													</div>
												</div>
												<div class="col-9">
													<a class="btn_tarif" href="{{path('tarif_consta')}}">
														<div class="title d-flex text-left">
															<h4
																class="p-0">
																Constatation avant dédouanement
															</h4>
														</div>
													</a>
													<div class="content"></div>
												</div>
											</div>
					
										</div>
					
									</div>
					
									<div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 single-service">
					
										<div class="inner p-2">
											<div class="row">
												<div class="col-3">
													<div class="text-center">
														<img src="{{ asset('flattheme/img/dgsr/icon/papier.png') }}" alt="logo">
													</div>
												</div>
												<div class="col-9">
													<a class="btn_tarif" href="	" data-toggle="modal" data-target=".liste_abbrev">
														<div class="title d-flex text-left">
															<h4 class="p-0">
																Abbreviations et papiers utiles
															</h4>
														</div>
													</a>
													<div class="content"></div>
												</div>
											</div>
					
										</div>
					
									</div>
					
								</div>
							</div>
						</div> #}


	{# modal pour mobile #}
	{# 
						<button style="display : none;" id="bouton" type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-target ">Extra large modal</button>
					
						<div style="height:600px;" class=" modal fade modal-target " tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
							<div class="modal-dialog " role="document">
								<div class="modal-content" style="background-color : #fff">
					
									<div class="actu_detail ">
										<div class="modal-header">
											<h5 class="modal-title  text-center" id="exampleModalCenterTitle"></h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="main-wrapper" style="height" oncontextmenu="return false"></div>
					
									</div>
								</div>
							</div>
						</div>
					 #}

	{# test #}

	{# table pills #}

		<div class="section-title mt-5 mb-5"> <h2>Papiers utiles</h2>
		<p>Référence : Arrêté Interministériel N° 040/2017 du 03 jan 2017</p>
	</div>
	<div class="container " style="padding-top: 30px;">
		<div class="tabs-area spb">

			<ul class="nav tabs-nav" id="pills-tab" role="tablist">

				<div class="row">
					<div class="col-4 ">
						<li class="nav-item">
							<a
								class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#abbreviation">
								<!-- <i class="fa fa-puzzle-piece"></i> -->
								<span>Abbréviation</span>
							</a>
						</li>
					</div>
					<div class="col-4">
						<li class="nav-item">
							<a
								class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#papier_visite">
								<!-- <i class="fa fa-binoculars"></i> -->
								<span>Papiers pour visite tehcnique</span>
							</a>
						</li>
					</div>
					<div class="col-4">
						<li class="nav-item">
							<a
								class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#papier_reception">
								<!-- <i class="fa fa-pie-chart"></i> -->
								<span>Papiers pour réception tehcnique</span>
							</a>
						</li>

					</div>
				</div>

			</ul>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="abbreviation" role="tabpanel">

					<div class=" overflow-auto" style="height : 450px;">
						<table class="table_tarif">
							<tr>
								<td>TV
								</td>
								<td>Véhicule particulier
								</td>
							</tr>
							<tr>
								<td>VP300
								</td>
								<td>Véhicule particulier
								</td>
							</tr>
							<tr>
								<td>TM3
								</td>
								<td>Transport de marchandises moins de 03T
								</td>
							</tr>
							<tr>
								<td>TMTP
								</td>
								<td>Transport de marchandises pouvant transporter du personnel
								</td>
							</tr>
							<tr>
								<td>TM6
								</td>
								<td>Transport de marchandises de 3T à 6,999T
								</td>
							</tr>
							<tr>
								<td>TM7
								</td>
								<td>Transport de marchandises de 7T à 9,999T
								</td>
							</tr>
							<tr>
								<td>TM10
								</td>
								<td>Transport de marchandises de 10T à 15,999T
								</td>
							</tr>
							<tr>
								<td>TM16
								</td>
								<td>Transport de marchandises de 16T et plus
								</td>
							</tr>
							<tr>
								<td>TR7
								</td>
								<td>Tracteur Routier de 7T à 9,999T
								</td>
							</tr>
							<tr>
								<td>TR10
								</td>
								<td>Tracteur Routier de 10T à 15,999T
								</td>
							</tr>
							<tr>
								<td>TR16
								</td>
								<td>Tracteur Routier de 16T et plus
								</td>
							</tr>
							<tr>
								<td>SR10
								</td>
								<td>Semi-Remorque de 10T à 15,999T
								</td>
							</tr>
							<tr>
								<td>SR16
								</td>
								<td>Semi-Remorque de 16T et plus
								</td>
							</tr>
							<tr>
								<td>R7
								</td>
								<td>Remorque de 7T à 9,999T
								</td>
							</tr>
							<tr>
								<td>R10
								</td>
								<td>Remorque de 10T à 15,999T
								</td>
							</tr>
							<tr>
								<td>TA
								</td>
								<td>Tracteur Agricole
								</td>
							</tr>
							<tr>
								<td>TV
								</td>
								<td>Taxi Ville
								</td>
							</tr>
							<tr>
								<td>TBE
								</td>
								<td>Taxi Be
								</td>
							</tr>
							<tr>
								<td>CU
								</td>
								<td>Car Urbain
								</td>
							</tr>
							<tr>
								<td>CSUB
								</td>
								<td>Car Sub Urbain
								</td>
							</tr>
							<tr>
								<td>VL
								</td>
								<td>Voiture de louage
								</td>
							</tr>
							<tr>
								<td>TPP
								</td>
								<td>Transport Privé de Personne
								</td>
							</tr>
							<tr>
								<td>AE
								</td>
								<td>Auto Ecole
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="tab-pane fade" id="papier_visite" role="tabpanel">
					<section style="text-align : center; padding-top: 25px;">
						<table class="table_papiers table-bordered">
							<tbody>
								<tr>
									<th>GENRES</th>
									<th colspan="2">
										USAGE EFFECTIF</th>
									<th>PAPIERS REQUIS
									</th>
								</tr>
								<tr>
									<td rowspan="3" class="col0">VP</td>
									<td class="col1">VP</td>

									<td class="col2">
										Véhicule particulier
									</td>
									<td class="col3">
										<ol>
											<li>
												Carte grise
											</li>
											<li>
												Carte de visite technique pour celui qui a déjà subi ladite visite l'année précédente

											</li>
											<li>
												P.V. de réception technique pour le véhicule d'occasion d'immatriculation étrangère
											</li>
											<li>
												Carte blanche
											</li>
										</ol>
									</td>


								</tr>

								<tr>
									<td class="col1">VP300
									</td>
									<td class="col2">Véhicule Particulier
									</td>
									<td class="col3">
										<ol>
											<li>
												Carte grise
											</li>
											<li>
												Carte de visite technique pour celui qui a déjà subi ladite visite l'année précédente

											</li>
											<li>
												P.V. de réception technique pour le véhicule d'occasion d'immatriculation étrangère
											</li>
											<li>
												Carte rouge
											</li>
											<li>
												Carnet
											</li>
										</ol>

									</td>
								</tr>

								<tr>
									<td class="col1">TV</td>
									<td class="col2">Taxi Ville</td>
									<td class="col3" rowspan="7">
										Véhicule particulier<br/>
										<ol>
											<li>Carte grise ;</li>
											<li>P. de réception technique pour le véhicule d'occasion d'immatriculation étrangère ;</li>
											<li>Carnet d'entretien du véhicule pour celui qui a déjà subi ladite visite l'année précédente;</li>
											<li>Patente ou Certificat de non affectation de l'année en cours</li>
										</ol>
										<p>(CNA);</p>
										<p>Carte violette du véhicule déjà utilisé comme TPP</p>
									</td>
								</tr>
								<tr>
									<td rowspan="3" class="col0">TCP</td>
									<td class="col1">TBE</td>
									<td class="col2">Taxi Be</td>
								</tr>
								<tr>
									<td class="col1">CU</td>
									<td class="col2">Car Urbain</td>
								</tr>
								<tr>
									<td class="col1">CSUB</td>
									<td class="col2">Car Sub Urbain</td>
								</tr>
								<tr>
									<td class="col0">VP-TCP</td>
									<td class="col1">VL</td>
									<td class="col2">Voiture de Louage</td>
								</tr>
								<tr>
									<td class="col0">TCP</td>
									<td class="col1">TPP</td>
									<td class="col2">Transport Privé de Personne</td>
								</tr>
								<tr>
									<td class="col0">TCP-VP</td>
									<td class="col1">AE</td>
									<td class="col2">Auto Ecole</td>
								</tr>

								<tr>
									<td rowspan="2" class="col0">CITE</td>
									<td class="col1">TM3</td>
									<td class="col2">Transport de marchandises moins de 3T</td>
									<td class="col3" rowspan="13">
										<ol>
											<li>Carte grise;</li>
											<li>P. de réception technique pour le véhicule d'occasion d'immatriculation étrangère ;</li>
											<li>Carnet d'entretien du véhicule pour celui qui a déjà subi ladite</li>
										</ol>
										<p>Visite l'année précédente;</p>
										Patente ou Certificat de non affectation de l'année en cours (CNA).</td>
								</tr>


								<tr>
									<td class="col1">TMTP</td>
									<td class="col2">Transport de marchandises pouvant transporter du personnel</td>
								</tr>
								<tr>
									<td rowspan="4" class="col0">CAM</td>
									<td class="col1">TM6</td>
									<td class="col2">Transport de marchandises de 3T à 6,9991</td>
								</tr>
								<tr>
									<td class="col1">TM7</td>
									<td class="col2">Transport de marchandises de 7T à 9,9991</td>
								</tr>
								<tr>
									<td class="col1">TM10</td>
									<td class="col2">Transport de marchandises de 10T à 15,9991</td>
								</tr>
								<tr>
									<td class="col1">TM16</td>
									<td class="col2">Transport de marchandises de 16T et plus</td>
								</tr>
								<tr>
									<td rowspan="3" class="col0">TRR</td>
									<td class="col1">TR7</td>
									<td class="col2">Tracteur Routier de 7T à 9,999T</td>
								</tr>
								<tr>
									<td class="col1">TR10</td>
									<td class="col2">Tracteur Routier de 101 à 15,999T</td>
								</tr>
								<tr>
									<td class="col1">TR16</td>
									<td class="col2">Tracteur Routier de 16T et plus</td>
								</tr>
								<tr>
									<td rowspan="2" class="col0">SREM</td>

									<td class="col1">SR10</td>
									<td class="col2">Semi-Remorque de 101 à 15,999T</td>
								</tr>
								<tr>
									<td class="col1">SR16</td>
									<td class="col2">Semi-Remorque de 16T et plus</td>
								</tr>
								<tr>
									<td rowspan="2" class="col0">REM</td>
									<td class="col1">R7</td>
									<td class="col2">Remorque de 7T à 9,999T</td>
								</tr>
								<tr>
									<td class="col1">R10</td>
									<td class="col2">Remorque de 101 à 15,999T</td>
								</tr>

							</tbody>
						</table>
					</section>
				</div>
				<div class="tab-pane fade" id="papier_reception" role="tabpanel">
					+ Certificat modèle N°01</br>
				+ Carte grise etrangère ou facture pour les véhicules neufs plus nocite descriptive ou revue technique automobile rapport d'inspection SGS (Demande ponctuelle)</br>
			+ Attestation de conformité(Pour les véhicules = 3.5 Tonnes)</br>
	</div>
</div></div></div>{# fin test #}{% endblock %}{% block javascripts %}<script type="text/javascript" src="{{ asset( 'js/tarifs.js') }}"></script><script type="text/javascript" src="{{asset('flattheme/js/tarifs.js') }}"></script>{% endblock %}
